html {
    background: #e3e3e3;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424; 
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}


.header-1 {
    background: #999;
    Position: sticky;
    top: 0;
}

.header-2 {
    background: #999;
    Position: sticky;
    top: 0;
}

.title {
    background: #686868;
}

section {
    border-top: 5px solid #474747;
    background: #DFDFDF;
    display: flex;
}

.Post-blog-01 {
    background: #999;
    border-bottom: 1px dotted #ccc;
    top: 10;
    left: 20px;
    flex: 3

}

article {
    border-bottom: 1px solid #000;
}


.Post-blog-02 {
    background: #999;
    top: 10;
    left: 20px;
    flex: 3
}


article {
    background:#999;
    padding: 20px;
    margin: 10px;
}

form {
    padding: 10px;
    margin: 2px;
    flex: 1
}

.masthead {
    background-image: url('Blog-images/Satisfactory.jpg');
    background-size: cover;
    background-position: middle;
    height: 200px;
    width: 300px;
}

.img-container01 {
    background:#000;
    height: 60px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container02 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container03 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container04 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container05 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container06 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container07 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container08 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container09 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container10 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}

.img-container11 {
    background:#000;
    height: 30px;
    width: 7px;
    float: right;
    margin-left: 10px;
}



